<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254857876925-7i78hqnj4o5lfhn04lp07cvh00tq2kgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254857876925-7i78hqnj4o5lfhn04lp07cvh00tq2kgi</string>
	<key>API_KEY</key>
	<string>AIzaSyBU4aCJ3kzMonUxTEcSz5eROfgl9nlyMuI</string>
	<key>GCM_SENDER_ID</key>
	<string>254857876925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yhliboch.GitHubProjects.GitHubProjects</string>
	<key>PROJECT_ID</key>
	<string>githubprojects-8e2cf</string>
	<key>STORAGE_BUCKET</key>
	<string>githubprojects-8e2cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254857876925:ios:68df863e1b508d90ff6ed4</string>
</dict>
</plist>